# Core functionality - changes here should be rare!
/src/app.py                   @richcirco
/src/backend/database.py      @richcirco
/src/backend/routers/auth.py  @richcirco

# The frontend will need refactored soon to be more object oriented.
/src/static/   @richcirco
